<html>
<head>
<title>DS project</title>
<style>
body {
{% Load staticfiles %}
background-image:url({% static 'backgroundimage.gif' %});}
#container{
position: fixed;
width: 340px;
height: 250px;
top: 50%;
Left: 50%;
margin-top: -140px;
margin-left: -170px;
background: #ffffcc; border-radius: 3px; border: 1px solid #ccc;
box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
}
</style> </head>


height: 250px; top: 50%;
Left: 50%;
margin-top:
-140px;
margin-left: -170px;
background: #ffffcc;
border-radius: 3px;
border: 1px solid #ccc;
box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}
</style>
</head>
<div id="container">
<h1 align='center'>Reset now</h1>
<p align='center'>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
<p align='center'>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
<div>
</html>